.sidebar{
    flex: 0.25;
    overflow-y: scroll;
}

.sidebarSearch{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebarSearchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}


.sidebarSearchContainer > input{
    border:none;
    margin-left: 10px;
}

.sidebarSearchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

.sidebarHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}
.sidebarHeaderRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}


.sidebarHeaderRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 20px !important;
}

.sidebarChats{
    flex:1;
    background-color:white;
}

.userName{
    padding: 10px;
    font-weight: bold;
}
